.bg_color {
     background-color: #cdd0d4 !important;
    
}

.login_content{
    position: relative;
    top:10%;
}

// .bgimg{
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	background-size: cover;
// 	background-image: url(../assets/imgs/bgimg.jpg);
// 	background-attachment: scroll;
	
// }
.yellow_text {
    color:#ffd200;
}